// src/styles/HomePageStyles.scss

.container-fluid {
  padding: 20px;
}

.heading {
  font-weight: bold;
  font-size: 50px;
  padding: 40px 300px;
}
.heading-subtext {
  padding: 0 450px;
}
.home-button {
  padding: 10px 70px;
  background-color: #e8ccf8;
  color: black;
  border: none;
  cursor: pointer;
  font-weight: bold;

  &:hover {
    background-color: #e1b8f8;
  }
}

.infiniteslide_wrap {
  overflow: hidden;
}

.h-scroll-bar {
  display: flex;
  flex-flow: row;
  align-items: center;
  animation: floatAnimation 228.928s linear infinite;
}
.h-scroll-bar-right {
  display: flex;
  flex-flow: row;
  align-items: center;
  animation: floatAnimationRight 228.928s linear infinite;
}

.slide-wrapper {
  position: relative;
  display: inline-block;
  margin-right: 5px;
  margin-left: 5px;
  flex: 0 0 auto;

  .slide-image {
    margin-top: 20px;
    max-width: 450px;
    height: 225px;
    border: 1px solid black;
    border-radius: 6px;
    box-shadow: 1px 1px 8px #90a6af80;
    margin-right: 5px;
  }
}

@keyframes floatAnimation {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(-4578.564px, 0, 0);
  }
}

@keyframes floatAnimationRight {
  0% {
    transform: translate3d(-3600.564px, 0, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}

@media only screen and (max-width: 1280px) {
  .heading {
    padding: 20px 150px;
  }
  .heading-subtext {
    padding: 0 350px;
  }
}

@media only screen and (max-width: 1024px) {
  .heading {
    padding: 20px 50px;
  }
  .heading-subtext {
    padding: 0 230px;
  }
}
@media only screen and (max-width: 767px) {
  .heading {
    padding: 20px 20px;
    font-size: 42px;
  }
  .heading-subtext {
    padding: 0 110px;
  }
}

@media only screen and (max-width: 480px) {
  .heading {
    padding: 20px 0;
    font-size: 35px;
  }
  .heading-subtext {
    padding: 0 70px;
  }

  .slide-wrapper {
    .slide-image {
      max-width: 300px;
      height: 150px;
    }
  }
  @keyframes floatAnimationRight {
    0% {
      transform: translate3d(-3000.564px, 0, 0);
    }
    100% {
      transform: translate3d(0, 0, 0);
    }
  }
}
